/*--Reset&Base Style---*/
*{
    margin:20;
    padding:20;
    font-family:'Segoe Ul',Tahoma,Geneva,Verdana,sans-serif;

}
body{
    background-color:#006e4a;

}
/*---Header Constainer--*/
.site-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background-color:#e11111;
    box-shadow:0 4px 6px rgba(0,0,0,0.05);
    position:sticky;
    top:0;
    z-index:1000;

}
/* Logo style */
.logo a{
    font-size:24px;
    font-weight:700;
    color:#333333;
    text-decoration:none;
    letter-spacing: 1px;
}
.logo a span{
    color:#007bff;
}
/*---Navigation Links---*/
.navigation ul{
    list-style:none;
    display:flex;
    gap:30px;
}
.navigation ul li a {
    text-decoration:none;
    color:#666666;
    font-weight:500;
    font-size:16px;
    transition:color 0.3s ease;
    
}
/*Hover & Active State*/
.navigation ul li a :hover,
.navigation ul li a.active{
    color:#007bff;
}
/* call to action (cta)button */
.btn-cta{
    display:inline-block;
    background-color:#007bff;
    color:#0062ff;
    padding:10px 22px;
    text-decoration:none;
    font-weight:600;
    border-radius:5px;
    transition:background-color 0.3s ease,transform 0.2s ease

}
.btn-cta:hover{
    background-color:#ff0b0b;
    transform:translate Y(-1px);
}
